body {font-family: Tahoma, Arial, Helvetica, sans-serif;font-size:14px;color:#333}

.no-js .top-bar {display: none;}
@media screen and (min-width: 40em) {
  .no-js .top-bar {display: block;}
  .no-js .title-bar {display: none;}
}
.section-title, h1, h2, h3, h4, h5, h6, #news-menu, #sidebar-menu {font-family: 'PT Sans', sans-serif;}
#menutop {font-family: Calibri,'PT Sans', Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;}
.has-tip { border-bottom: none; cursor: pointer; }
.tooltip::before {content: '';display: block; width: 0;height: 0;border: inset 0.75rem;border-color: transparent transparent #0a0a0a;border-bottom-style: solid;border-top-width: 0;bottom: 100%;position: absolute;left: 50%;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%); }

.acc-sticky-header {width:100%;z-index:10000!important}
header {background:#e2e3e7;z-index:10000!important}
#topheader {padding:10px 0 5px 0;font-size:12px;z-index:10000!important}
#topheader form {padding-top:10px}
.topheader-menu {margin-top:40px;}
.topheader-menu div {margin-left:35px;float:left}
.topheader-menu a, .topheader-menu a:visited {color:#333;}
.topheader-menu a.active, .topheader-menu a:hover {color:#f79625}
.topsearch {float:left;margin:22px 0 0 0;}
#topheader input[type='text'] {width:80%;-webkit-border-radius: 10px!important;-moz-border-radius: 10px!important;border-radius: 10px!important;font-size:12px;text-align:center;padding:6px 4px;height:inherit;margin-right:5px;}
#topheader input[type='image'] {padding-top:5px;margin-top:22px}

#menutop, #menubottom {width:100%;height:40px;background:url('../images/bg-menu.jpg') repeat-x;font-weight:bold;text-transform:uppercase;z-index:10000!important}
#menutop {font-size:18px;}
#menubottom {font-size:18px;text-align:center;color:#fff;line-height:40px;}
.title-bar {background:#0072bc url('../images/bg-menu.jpg') repeat-x;}
.top-bar, .top-bar ul {background:none;margin:0;padding:0;}
.top-bar ul li {padding:0!important;}
.top-bar ul li a {margin:0;padding:10px 20px;color:#fff;}
.top-bar ul li:first-child > .is-dropdown-submenu {left:-40%!important;right:-40%!important;}
.top-bar ul li:last-child > .is-dropdown-submenu {left:-80%!important;right:-80%!important;}
.is-dropdown-submenu {left:-10%!important;right:-10%!important;}
.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a:after {border:none;}
.dropdown.menu.medium-horizontal > li {background:url(../images/icon-menu.png) no-repeat center right;}
.dropdown.menu.medium-horizontal > li:last-child {background:none;}
.top-bar ul ul {background:#0072bc;margin-top:2px;border:none;border-top:3px solid #f79625;font-weight:normal;text-transform:capitalize;z-index:30!important;}
.top-bar ul ul li {font-family: Calibri, 'PT Sans', Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size:18px;border-bottom:1px solid #f79625;padding:2px 0;}
.top-bar ul ul li:last-child {border:none;}
.top-bar ul ul li > a:hover {background:#0089d0;}
.arrow_box:after, .arrow_box:before {	bottom: 100%;	left: 50%;	border: solid transparent;	content: " ";	height: 0;	width: 0;	position: absolute;	pointer-events: none;}
.arrow_box:after {border-color: rgba(255, 156, 37, 0);	border-bottom-color: #ff9c25;	border-width: 8px;	margin-left: -8px;}
.arrow_box:before {	border-color: rgba(255, 156, 37, 0);	border-bottom-color: #ff9c25;	border-width: 8px;	margin-left: -8px;}

/*home*/
#mainslider {position:relative;}
#mainslider ul {margin:0;padding:0;}
#mainslider ul li img {width:100%!important}
.section-title {background:#ff9c25;text-align:center;color:#fff;text-transform:uppercase;padding:5px 0;font-size:18px;font-weight:bold;}
.shoppingtools {position: fixed;z-index:10000;width:218px;height:150px;top:200px}
.shoppingtools-short {right: -137px;-webkit-transition: all 1s;-moz-transition: all 1s;-ms-transition: all 1s;-o-transition: all 1s;transition:all 1s;}
.shoppingtools-full {right: 0;-webkit-transition: all 1s;-moz-transition: all 1s;-ms-transition: all 1s;-o-transition: all 1s;transition:all 1s;}
#shoppingtools-menu {list-style:none;margin:0;padding:0;margin-left:81px!important;margin-top:2px;font-size:12px;-webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.6);
box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.6);}
#shoppingtools-menu li a,#shoppingtools-menu li a:visited {display:block;padding:7px 10px;font-weight:bold;background: rgb(255,255,255);background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );}
#shoppingtools-menu li a:hover {background:#0089d0;color:#fff}
#shoppingtools-menu li:last-child a {padding:8px 10px;}
#infopromo .sliderpromo .bx-wrapper img {margin:0 auto!important;}

/*tab simulasi paket*/
.section-title .tabs, .section-title .tabs li{background:none;border:none;float:none;}
.section-title .tabs li {display:inline;background:url(../images/icon-menu.png) no-repeat center right;}
.section-title .tabs li:last-child {background:none;}
.section-title .tabs li a {display:inline-block;padding:0 15px;margin:0 15px 0 0;color:#fff;font-size:18px;font-weight:bold;}
.section-title .tabs li a:hover,.section-title .tabs li.is-active a {background:none;color:#f8fb04}
.tabs-content {border:none}
.tabs-panel {padding:0;margin:0;}
.imgbanner {width:100%;}
#simulasikredit {background:#0072bc;padding:25px 0 5px 0;text-align:center;}
#simulasikredit .formholder {float:left;margin-right:10px;}
#simulasikredit label {float:left;color:#f8fb04;margin-right:10px;padding-top:8px;font-size:12px;}
#simulasikredit .button, .button-general {padding:15px 10px;border:none;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;font-size:12px;font-weight:bold;color:#333;background: rgb(238,238,238);background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );-webkit-box-shadow: inset 0 -20px 20px -20px rgba(0,0,0,0.8);-moz-box-shadow: inset 0 -20px 20px -20px rgba(0,0,0,0.8); box-shadow: inset 0 -20px 20px -20px rgba(0,0,0,0.8);}
#simulasikredit .button:hover, .button-general:hover {background:#ff9c25;color:#fff}
a.button-general, a.button-general:visited {color:#333!important;}
a.button-general:hover {color:#fff!important;}
.simulasi {font-size:12px;color:#6e6f71;text-transform: uppercase;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;width:125px;float:left;background-position: right center; background-origin: content-box; background-repeat: no-repeat; padding-right: 0.5rem;outline:none}
.simulasi-smaller {font-size:12px;color:#6e6f71;text-transform: uppercase;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;width:70px;float:left;background-position: right center; background-origin: content-box; background-repeat: no-repeat; padding-right: 0.5rem;outline:none}

/*select*/
.select-style {padding: 0!important;margin: 0 0 10px 0!important;height:40px;overflow: hidden;background: #fff url("../images/arrow-select.jpg") no-repeat 90% 50%;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;width:150px;float:left;}
.select-style select {font-size:12px;color:#6e6f71;text-transform: uppercase;border: none;box-shadow: none;background-color: transparent;background-image: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.select-style select:focus {outline: none;}
.select-style-smaller {padding: 0!important;margin: 0 0 10px 0!important;height:40px;overflow: hidden;background: #fff url("../images/arrow-select.jpg") no-repeat 90% 50%;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;width:90px;float:left;}
.select-style-smaller select {font-size:12px;color:#6e6f71;text-transform: uppercase;border: none;box-shadow: none;background-color: transparent;background-image: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.select-style-smaller select:focus {outline: none;}
/*select*/

/*produklayanan promo jaringan*/
#produklayanan .bx-wrapper .bx-controls-direction a {	top: 40%;}
#produklayanan p {color:#6e6f71;}
#produklayanan-content, #berita-content {padding:0 10px}
.product-caption {background:#0089d0;color:#fff;text-transform:uppercase;text-align:center;font-size:13px;font-weight:bold;padding:15px 20px;margin-bottom:10px;}
.product-caption a, .product-caption a:visited {color:#fff}
.product-caption a:hover {color:yellow}
.link-more {text-align:right;font-style:italic;padding-right:5px}
.link-more i {color:#0072bc}
#infopromo, #petasitus {background:#ddd;padding-bottom:20px;}
#infopromo .bx-wrapper img { margin: 0 auto;}
#jaringanacc h2 {font-size: 26px;font-weight:bold}
/*berita*/
#berita .bx-wrapper .bx-controls-direction a {top: 30%;}
#berita h2 {margin:0 0 5px 0;padding:0;font-size:20px;font-weight:bold;}
#berita h2 a, #berita h2 a:visited {color:#333333;}
#berita h2 a:hover {color:#0072bc}
#berita .article-tags {color:#000;margin:10px 0 0 0;padding:0;}
#vendor_logo_container {margin:10px 0;}
.vendor_logo {float:left;margin-right:30px;margin-bottom:10px;}
/*petasitus*/
.petasitus-content {padding-top:30px;}
.petasitus-content h4 {color:#333;font-size:14px;font-weight:bold;text-transform:uppercase;margin:0!important;padding:0!important}
.petasitus-content ul {list-style:none;margin:0 0 20px 0;padding:0}
.petasitus-content a, .petasitus-content a:visited {color:#000;}
.petasitus-content ul li a:hover {color:#ff9c25;}

#footer-bottom {padding:30px 0;font-size:12px;}
ul.socialmedia {margin:0;padding:0}
ul.socialmedia li {display:inline;list-style:none;margin:0;padding:0}

/*scroll to top*/
.scroll-top-wrapper {position: fixed;bottom: 20px;left:45%;visibility: hidden;overflow: hidden;z-index: 99999999;color: #fff; text-align:center;width: 40px;height: 40px;line-height: 30px;padding-top: 2px; background-color: #777777; border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.scroll-top-wrapper.show {visibility:visible; cursor:pointer;opacity: 0.7;}
.scroll-top-wrapper i.fa {line-height: inherit;}

/*end home*/

/*halaman news*/
.breadcrumbs li {font-size:13px;}
.breadcrumbs li:not(:last-child)::after { content: "\003E";}
.node-body p {text-align: justify}
#sidebar-menu {list-style:none;margin:0;padding:0;}
#sidebar-menu li a, #sidebar-menu li a:visited {text-transform: uppercase;display:block;padding:8px 20px;color:#666;font-size:15px;font-weight:bold;background: rgb(245,245,245);background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(229,229,229,1) 100%);background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(229,229,229,1) 100%);background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(229,229,229,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 );}
#sidebar-menu li a:hover, #sidebar-menu li.active a {background:#ff6d00;color:#fff}
#sidebar-menu li:first-child a {-webkit-border-top-left-radius: 10px;-webkit-border-top-right-radius: 10px;-moz-border-radius-topleft: 10px;-moz-border-radius-topright: 10px;border-top-left-radius: 10px;border-top-right-radius: 10px;}
#sidebar-menu li:last-child a {-webkit-border-bottom-right-radius: 10px;-webkit-border-bottom-left-radius: 10px;-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;}
#sidebar-populer {border:1px solid #00adf2;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
#sidebar-populer h3 {color:#00adf2;padding:10px;margin:0 0 20px 0;text-align:center;font-size:18px;font-weight:bold;border-bottom:1px solid #00adf2}
#sidebar-populer-list {margin:0 20px 20px 20px;}
#sidebar-populer-list li {font-size:14px;list-style:none;color:#666;background:url(../images/list-orange.png) no-repeat 0 20%;padding-left:20px;margin-bottom:5px}
.sidebar-umum {border:1px solid #00adf2;-webkit-border-top-left-radius: 10px;-webkit-border-top-right-radius: 10px;-moz-border-radius-topleft: 10px;-moz-border-radius-topright: 10px;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.sidebar-umum h3 {color:#00adf2;padding:10px;margin:0;text-align:center;font-size:18px;font-weight:bold;border-bottom:1px solid #00adf2}
.sidebar-umum img.banner {width:100%}
#main-content h1 {color:#0072bc;margin:-5px 0 30px 0;padding:0!important;font-size:30px;font-weight:bold;text-transform:uppercase}
#main-content dt {color:#26b3f3}
#main-content dd {margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #ccc}
#main-content input, #main-content select {font-size:14px;}
#news-menu {font-size:16px;list-style:none;margin:0 0 20px 0;padding:0}
#news-menu li {display:inline;margin-right:2px;}
#news-menu li a, #news-menu li a:visited {color:#333;border:1px solid #ccc;padding:5px 10px;}
#news-menu li a:hover, #news-menu li.active a {background:#0089d0;color:#fff;}
#main-content h2 {font-size:20px;font-weight:bold;margin:0 0 10px 0;padding:0}
#main-content h2 a, #main-content h2 a:visited {color:#0089d0;}
h2.content-title {color:#26b3f3;font-size:30px!important;line-height:32px;font-weight:bold;margin-bottom:20px!important;}
#content-disclaimer {background:#26b3f3;color:#fff;padding:10px;}
#content-disclaimer a, #content-disclaimer a:visited {color:yellow!important;font-weight:bold;}
#content-lainnya a, #content-lainnya a:visited {font-size:14px;font-weight:bold;color:#26b3f3}
/*end halaman news*/

/*halaman boc*/
.boc-name, .boc-title, .blue-title, .blue-title-noborder {font-size:14px;font-weight:bold;color:#26b3f3}
.blue-title {padding-bottom:5px;border-bottom:1px solid #ccc}
.accordion-item {margin-bottom:5px;border-bottom: 1px solid #e6e6e6;}
.accordion-title {display: block;background:#F9F9F9;padding: 1.25rem 1rem;line-height: 1;font-size: 0.75rem;color: #666666;font-weight:bold; position: relative; border: 1px solid #e6e6e6; border-bottom: 0; }
:last-child:not(.is-active) > .accordion-title {border-radius: 0 0 0 0;border-bottom: 1px solid #e6e6e6; }
.accordion-title:hover, .accordion-title:focus {background-color: #e6e6e6; }
.accordion-title::before {font-family: FontAwesome;color:#ff6d00;content: '\f0da';position: absolute;right: 1rem;top: 50%;margin-top: -0.5rem; }
.is-active > .accordion-title::before { content: '\f0d7'; }
.accordion-content {padding: 1rem;display: none;border-bottom: 0;background-color: #fefefe;color: #0a0a0a; }
:last-child > .accordion-content:last-child {border-bottom: 1px solid #e6e6e6; }
/*/halaman boc*/

/*network*/
#network-map-holder {width:100%;height:332px;overflow-y:auto;}
#network-map {width: 700px;	height: 332px;	padding: 0px;	margin: 0 auto;	position: relative;}
#network-map .image {	width: 700px!important;	height: 332px!important;	padding: 0px;	margin: 0px;	border: 0px;	position: relative;	z-index: 10!important;}
#network-map .pointer {	width: 18px;	height: 18px;	padding: 0px;	margin: 0px;	border: 0px;	background: url("../images/network-pointer.png") no-repeat;	background-position: left top;	position: absolute;	z-index: 15!important;}
#main-content #network-map .image {	z-index: -10;}
#main-content #network-map .pointer {	z-index: -5;}
.line-header-blue2 {color: #349def; font-size: 12px; font-weight: bold;}
/*network*/

/*harga mobil*/
ul.car-menu {font-size:16px;list-style:none;margin:0 0 30px 0;padding:0}
ul.car-menu li {margin:0 5px 5px 0;float:left;text-align: center;}
ul.car-menu li:last-child {margin-right:0}
ul.car-menu li a, ul.car-menu li a:visited {color:#333!important;border:1px solid #ccc;padding:0!important;display:block;width:148px}
ul.car-menu li a:hover, ul.car-menu li.active a {background:#0089d0;color:#fff!important;}
.car-block-menu {background:#0066aa;border-bottom:4px solid #ff9c25;text-align:center;color:#fff;text-transform:uppercase;padding:10px 0;font-size:13px;font-weight:bold;}
.car-block-menu a,.car-block-menu a:visited {text-transform:capitalize!important;-webkit-border-radius: 10px!important;-moz-border-radius: 10px!important;border-radius: 10px!important;background:#0089cf;color:#fff!important;margin-right:10px;padding:5px 15px}
.car-block-menu a:hover {background:#f89524}
.car-block-price table {border-collapse: collapse;width:100%;padding:0 10px;}
.car-block-price table th, .car-block-price table td {border: 1px solid black;font-family:Arial, Verdana, Tahoma, Helvetica, sans-serif;font-size:	12px;padding:4px;vertical-align:top;}
.car-block-price table td {background:#fff;line-height:16px;}
.car-block-price table th {background:#349DEF;color:#ffffff;}
.car-block-header {margin:20px 0 0 0;}
.car-block-header h2 {color:#0089cf;margin:0 0 10px 0!important;padding:0!important;font-size:24px;font-weight:bold;text-transform:uppercase}
.car-block-header-menu {text-align:right;padding-top:5px;}
.car-block-header-menu a,.car-block-header-menu a:visited {text-transform:capitalize!important;background:#0089cf;color:#fff!important;margin-right:10px;padding:5px 15px}
.car-block-header-menu a:hover {background:#f89524}
.btn-simulasi {float:right;margin-left:5px;}
.btn-simulasi a, .btn-simulasi a:visited {background:#f28d0a;color:#ffffff!important;padding:2px 4px;margin-right:5px;-webkit-border-radius: 5px!important;-moz-border-radius: 5px!important;border-radius: 5px!important;}
.btn-simulasi a:hover {background:#0089cf;}
/*harga mobil*/

/* other page*/
.img-awards {padding:10px;background:#ddd;-webkit-border-radius: 10px!important;-moz-border-radius: 10px!important;border-radius: 10px!important;min-width:250px;max-height:175px;}
#main-content a, #main-content a:active {color:#26b3f3}
.testimonial-content {border-bottom:1px solid #ccc;margin-bottom:10px}
.dob-1, #dateofbirthDay {width:60px;}
.dob-2, #dateofbirthMonth {width:140px;}
.dob-3, #dateofbirthYear{width:80px;}
.tabel-formkontak, .tabel-formkontak td, .tabel-formkontak tbody {border:none!important;}
.tabel-formkontak tr:nth-of-type(even) {
    background-color: transparent !important;border:none!important;
}
.title-bar {display:none;}
.mfp-iframe-holder .mfp-content {line-height: 0;width: 100%;height:90%;max-width: 600px;}
.alertbox {margin:20px;padding:10px;background:red;color:#ffffff;}
.popup-form {margin:10px;}
.periode-hargamobil {font-style:italic;color:#0089cf;font-size:18px;}
#simulasi-wrapper {position:relative;}
#simulasi-header {background:#f28d0a;-webkit-border-top-left-radius: 20px;-moz-border-radius-topleft: 20px;border-top-left-radius: 20px;padding:10px 20px}
#simulasi-header h2 {color:#fff;margin:0;padding:0;padding-left:50px;font-size:18px;}
#simulasi-header a, #simulasi-header a:visited {color:#fff;margin-right:25px;}
#simulasi-header a.last {margin-right:0;}
#simulasi-header a:hover, #simulasi-header a.active {color:yellow;}
#simulasi-header img {vertical-align: middle}
#simulasi-topleft-img {position:absolute;top:0;left:-5px}
#simulasi-body {-webkit-border-bottom-right-radius: 10px;-webkit-border-bottom-left-radius: 10px;-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;background:#0072bc;color:#fff;padding:20px}
#simulasi-body label, #simulasi-body input {margin-bottom:8px!important;}
#simulasi-body input {-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
#simulasi-body label, #simulasi-body p {color:#ffffff;}
.button-orange {color:#fff;font-size:18px!important;padding:10px 20px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;background: rgba(249,166,104,1);background: -moz-linear-gradient(top, rgba(249,166,104,1) 0%, rgba(254,113,8,1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,166,104,1)), color-stop(100%, rgba(254,113,8,1)));background: -webkit-linear-gradient(top, rgba(249,166,104,1) 0%, rgba(254,113,8,1) 100%);background: -o-linear-gradient(top, rgba(249,166,104,1) 0%, rgba(254,113,8,1) 100%);background: -ms-linear-gradient(top, rgba(249,166,104,1) 0%, rgba(254,113,8,1) 100%);background: linear-gradient(to bottom, rgba(249,166,104,1) 0%, rgba(254,113,8,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a668', endColorstr='#fe7108', GradientType=0 );}
.button-orange:hover {color:yellow}
.select-style2 {padding: 0!important;margin: 0!important;height:40px;overflow: hidden;background: #fff url("../images/arrow-select.jpg") no-repeat 97% 50%;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;width:265px;}
.select-style2 select {font-size:12px;color:#6e6f71;text-transform: uppercase;border: none;box-shadow: none;background-color: transparent;background-image: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.select-style2 select:focus {outline: none;}
#hasilhitung-header {background:#f28d0a;color:#fff;text-align:center;font-size:14px;font-weight:bold;padding:5px;-webkit-border-top-left-radius: 10px;-webkit-border-top-right-radius: 10px;-moz-border-radius-topleft: 10px;-moz-border-radius-topright: 10px;border-top-left-radius: 10px;border-top-right-radius: 10px;}
#hasilhitung-body {background:#fff;padding:20px;-webkit-border-bottom-right-radius: 10px;-webkit-border-bottom-left-radius: 10px;-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;overflow-x:scroll;}

.tabelsimulasi {border-spacing: 1px;border-collapse: separate;background:#fff;}
.member_agreement th,.tabelsimulasi th {background:#02AAD9;font-weight:bold;color:#fff;padding:4px;}
.tabelsimulasi td {padding:4px;color:#333;background:#fff;}
.tabelsimulasi td.abu {background:#F0F0F0;}
.button-apply, .button-apply:visited {font-weight:bold;font-size:14px;color:#0B75A6;background:#fff;padding:5px 20px;border:1px solid #ddd;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.button-apply:hover {background:#02AAD9;color:#fff!important;}
.popup-boc {position: relative; background: #FFF; padding: 20px;width: auto;max-width: 500px;margin: 20px auto;}
.mb-5 {margin-bottom:5px}
.mb-20 {margin-bottom:20px;}
.mb-10 {margin-bottom:10px;}
.mt-20 {margin-top:20px;}
.mt-30 {margin-top:30px;}
.mr-10 {margin-right:10px}
.text-14 {font-size:14px;}
a, a:visited {color:#696764;}
a:hover {color:#0072bc;}
.borderbottom {border-bottom:1px solid #ccc;}
#share-article {line-height:25px;margin-right:10px!important;}
.error-message {margin-bottom:5px;background:#fff3d9;padding:4px;}

#milestone td.gray-cell{	background-color: #b6b6b5;color: #FFFFFF;}
#milestone td.dark-gray-cell{background-color: #999999;color: #FFFFFF;}
#milestone td.orange-cell{background-color: #fa9300;color: #FFFFFF;}
#milestone td.blue-cell {background-color: #0082dd;color: #FFFFFF;}
#milestone td.light-blue-cell {background-color: #00acdd;color: #FFFFFF;}
#milestone .title { width: 118px;	color: #FFFFFF;	font-size: 30px;	font-weight: normal;	text-decoration: none;	text-align: center;}
#milestone .text-left {	color: #FFFFFF;	font-size: 12px;	font-weight: normal;	text-decoration: none;	padding-left: 8px;}
#milestone .text-right { color: #FFFFFF;	font-size: 12px;	font-weight: normal;	text-decoration: none;	padding-right: 8px;}
#milestone .image-left{	float: left;	margin-right: 8px;}
#milestone .image-right{	float: right;	margin-left: 8px;}
#milestone .news-title, #milestone .news-title:active, #milestone .news-title:visited, #milestone .news-title:hover {color: #FFFFFF;	font-size: 16px;	font-weight: normal;	text-decoration: none;}
#milestone .news-date {color: #FFFFFF;font-size: 14px;font-weight: normal;text-decoration: none;padding-bottom: 8px;}
.g-recaptcha {margin-bottom:20px;}
.warning-text {font-weight:bold;color:red;margin-bottom:30px;font-style: italic}
.ui-state-error, .message { background-color: #fff3d9;  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  position: relative;
  color: #0a0a0a;
  }
/* other page*/

/*mobile*/
@media screen and (max-width: 39.9375em){
    #menutop {height:40px;font-size:16px;}
    #main-content {margin-top:30px;}
    .top-bar {position:relative;z-index:100!important}
    .top-bar ul {background:#0072bc;}
    .top-bar ul li {font-size:14px;border-bottom:1px solid #f79625;padding:2px 0;}
    .top-bar ul ul li {font-size:14px;}
    .top-bar ul ul li a {padding:9px 0}
    .topheader-menu {margin-top:10px;}
    .topheader-menu div {margin-left:0;float:none!important}
    .topsearch,#topheader input[type='image'] {margin-top:0;}
    #topheader input[type='text'] {width:90%;}
    #topheader-lang {text-align:center}
    .title-bar {background:#0072bc url('../images/bg-menu.jpg') repeat-x;}
    .bx-wrapper .bx-pager{display:none}
    .arrow_box:after, .arrow_box:before {border:none;}
    #produklayanan .bx-wrapper .bx-controls-direction a {	top: 30%;}
    #simulasikredit .formholder {float:none;}
    #simulasikredit label {float:left;text-align:right;color:#f8fb04;width:100px;margin-right:10px;padding-top:8px;font-size:12px;}
    #shoppingtools {display:none;}
    #news-menu {font-size:14px;}
    #news-menu li a, #news-menu li a:visited {padding:5px;}
    h2.content-title {font-size:24px!important;}
    .car-block-header-menu {text-align:left;margin-bottom:10px;}
    .btn-simulasi {float:none;text-align:center;margin:5px 0 10px 0;}
    .select-style,.select-style2,.select-style-smaller,.simulasi,.simulasi-smaller {width:200px;}
    #simulasikredit .button {width:200px;float:left;}
    #imgnetwork-d {width:100%!important;}
    #menusimulasi {padding-left:60px;}
    .pagination li {font-size:13px;display: inline-block; }
  }
/*mobile*/

/*tablet*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  #topheader {font-size:10px!important;}
  #topheader form {padding-top:10px}
  .topheader-menu {margin-top:20px;}
  .topheader-menu div {margin-left:15px;margin-top:8px;float:left;}
  .topsearch, #topheader input[type='image'] {margin-top:10px;}
  #topheader input[type='text'] {width:75%;}
  #topheader-lang {text-align:center}
  #menutop {font-size:12px;padding-top:5px;}
  .top-bar ul li a {margin:0;padding:10px;color:#fff;}
  .top-bar ul li:first-child > .is-dropdown-submenu {left:-5%!important;right:-20%!important;}
  .top-bar ul li:last-child > .is-dropdown-submenu {left:-170%!important;right:200%!important;}
  .top-bar ul li:first-child > .arrow_box:after, .top-bar ul li:first-child > .arrow_box:before {	left: 30%;}
  .top-bar ul li:last-child > .arrow_box:after, .top-bar ul li:last-child > .arrow_box:before {	left: 75%;}
  .is-dropdown-submenu {left:-10%!important;right:-10%!important;}
  .top-bar ul ul li {font-size:12px;}
  .section-title, .section-title .tabs li a {font-size:14px;}
  #simulasikredit .formholder {margin-right:30px;}
  .select-style,.select-style-smaller,.simulasi,.simulasi-smaller {width:200px;}
  #simulasikredit .formholder label {width:120px;text-align:left}
  #simulasikredit .buttonholder {float:none!important;}
  #simulasikredit .buttonholder>.button {width:200px;float:none!important;margin:0 auto;margin-bottom:20px}
}
/*tablet*/
