body {font-family: 'Open Sans', sans-serif;}
#content-area {background:url(../images/footer2.jpg) center bottom no-repeat;padding-top:30px;padding-bottom:60px}
.bg1 {background:#005aab;color:#ffffff;font-size:18px}
.bg2 {background:#0e76bc;color:#ffffff}
.shadow1 {-webkit-box-shadow: 4px 4px 4px 0px rgba(170,170,170,1);-moz-box-shadow: 4px 4px 4px 0px rgba(170,170,170,1);box-shadow: 4px 4px 4px 0px rgba(170,170,170,1);}
.shadow2 {-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);}
.roundedc2 {vertical-align: text-bottom;line-height:40px}
.roundedc {padding:10px 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;text-align:center;}
.mb10 {margin-bottom:10px}
.mb20 {margin-bottom:20px}
.labelstyle {padding:10px;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;text-align:center;}
.blueline {width:100%;border:3px solid #0e76bc;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;padding:10px 20px;color:#0e76bc;outline:none!important;font-weight:bold}
.button-submit {font-size:36px;font-weight:bold;font-style:italic;background:#f1592a;color:#fff;border:1px solid #f1592a;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;text-align:center;padding:15px 100px;}
.button-submit:hover {background:#ed4c1a;cursor:pointer;}
#karyawan-wrapper, #outsource-wrapper {display:none;}
.option-input {-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none;  height: 40px; width: 40px; transition: all 0.15s ease-out 0s; border: 3px solid #0e76bc; color: #fff; cursor: pointer;display: inline-block; margin-right: 0.5rem; outline: none; z-index: 1000;}
.option-input:hover { background: #0e76bc;}
.option-input:checked {  background: #0e76bc;}
.option-input:checked::before { height: 40px; width: 35px; position: absolute; content: '✔'; display: inline-block; font-size: 26.66667px; text-align: center; line-height: 35px;}
.option-input:checked::after { background: #0e76bc; content: ''; display: block; position: relative; z-index: 100;}
.option-input.radio {border-radius: 50%;}
.option-input.radio::after { border-radius: 50%;}
.text-center {text-align:center}
.g-recaptcha {float:right}

@media screen and (max-width: 39.9375em){
.bg1,.labelstyle,.bg2 {font-size:14px}
.button-submit {padding:15px 0;width:95%}
.g-recaptcha {float:none;transform: scale(0.9);-webkit-transform:scale(0.9);transform-origin:0 0;-webkit-transform-origin:0 0;max-width: 300px;}
.lastcol {margin-bottom:10px}
#content-area {padding-bottom:200px}
}
