/* =============
  == Core List==
   - Common
   - Helper classes
   - Extra
   - Bootstrap Custom
   - Topbar, Leftbar and Rightbar
   - Animation (Some loader)
   - Waves effect
   - Print (Invoice css)

============= */
/* =============
   Common
============= */

@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i);
body {
    background: #f5f5f5;
    font-family: sans-serif;
    font-family: 'Lato';
    margin: 0;
    overflow-x: hidden;
    color: #333;
}
html {
    position: relative;
    min-height: 100%;
    background: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #555;
    margin: 10px 0;
}
h1 {
    line-height: 43px;
}
h2 {
    line-height: 35px;
}
h3 {
    line-height: 30px;
}
h3 small {
    color: #444444;
}
h4 {
    line-height: 22px;
}
h4 small {
    color: #444444;
}
h5 {
    font-size: 15px;
}
h5 small {
    color: #444444;
}
p {
    line-height: 1.6;
}
* {
    outline: none !important;
}
b {
    font-weight: 600;
}
a:hover {
    outline: 0;
    text-decoration: none;
}
a:active {
    outline: 0;
    text-decoration: none;
}
a:focus {
    outline: 0;
    text-decoration: none;
}
.container {
    width: auto;
}
.container-alt {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Footer */

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    bottom: 0px;
    color: #58666e;
    text-align: left !important;
    padding: 20px 30px;
    position: absolute;
    right: 0px;
    left: 240px;
    font-size: 13px;
}
#wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.page {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
/* Page titles */

.page-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0;
}
.page-title-alt {
    margin-bottom: 22px;
    margin-top: 5px;
    color: #cbcbcb;
    font-size: 14px;
}
.page-header {
    border-bottom: 1px solid #DBDDDE;
}
.page-title-group {
    border-bottom: 1px solid #DBDDDE;
    margin-bottom: 30px;
    padding: 22px 30px 0;
}
.header-title {
    text-transform:capitalize;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 24px;
    margin-bottom: 8px;
}
.header-title .label {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    width: 29px;
    height: 24px;
    line-height: 24px;
}
.social-links li a {
    -webkit-border-radius: 50%;
    background: #EFF0F4;
    border-radius: 50%;
    color: #7A7676;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}
.card-drop-link > a {
    font-size: 7px;
    width: 8px;
    line-height: 1px;
    color: #555;
}
/* =============
   Helper clasess
============= */

.border-0 {
    border: none ;
}
.border-top-0 {
    border-top: none ;
}
.p-0 {
    padding: 0px ;
}
.p-20 {
    padding: 20px ;
}
.p-30 {
    padding: 30px ;
}
.p-l-0 {
    padding-left: 0px ;
}
.p-r-0 {
    padding-right: 0px ;
}
.p-t-0 {
    padding-top: 0px ;
}
.p-t-10 {
    padding-top: 10px ;
}
.p-b-0 {
    padding-bottom: 0px ;
}
.p-b-10 {
    padding-bottom: 10px ;
}
.p-l-r-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.m-0 {
    margin: 0px;
}
.m-r-5 {
    margin-right: 5px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-l-5 {
    margin-left: 5px;
}
.m-l-10 {
    margin-left: 10px;
}
.m-l-15 {
    margin-left: 15px;
}
.m-t-5 {
    margin-top: 5px;
}
.m-t-0 {
    margin-top: 0px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-t-40 {
    margin-top: 40px;
}
.m-b-0 {
    margin-bottom: 0px;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.w-xs {
    min-width: 80px;
}
.w-sm {
    min-width: 95px;
}
.w-md {
    min-width: 110px;
}
.w-lg {
    min-width: 140px;
}
.m-h-40 {
    min-height: 40px;
}
.m-h-50 {
    min-height: 50px;
}
.l-h-34 {
    line-height: 34px;
}
.font-600 {
    font-weight: 600;
}
.font-bold {
    font-weight: 700;
}
.font-normal {
    font-weight: normal;
}
.font-light {
    font-weight: 300;
}
.font-13 {
    font-size: 13px;
}
.font-40 {
    font-size: 40px;
}
.font-12 {
    font-size: 12px;
}
.wrapper-md {
    padding: 20px;
}
.pull-in {
    margin-left: -15px;
    margin-right: -15px;
}
.pull-in-card {
    margin-left: -20px !important;
    margin-right: -20px !important;
}
.b-0 {
    border: none !important;
}
.vertical-middle {
    vertical-align: middle;
}
.b-r-0 {
    border-radius: 0px !important;
}
.bx-shadow {
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.mx-box {
    max-height: 380px;
    min-height: 380px;
}
/* =============
   Extras
============= */
/* Table type box */

.table-box {
    display: table;
    height: 100%;
    width: 100%;
}
.table-box .table-detail {
    display: table-cell;
    vertical-align: middle;
}
/* Card Box */

.card-box {
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
    /* box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);*/

    float: left;
    width: 100%;
}
.card-box-content {
    padding: 20px;
}
.card-box-head {
    padding: 15px 20px;
    margin-bottom: 0;
    position: relative;
}
.card-box-head .header-title {
    margin: 0;
}
.card-box-head.border-b {
    border-bottom: 1px solid #ebebeb;
}
.card-drop-link {
    position: absolute;
    right: 20px;
    top: 20px;
}
/* =============
   Custom Column
============= */

.cb-col-20 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 1110px) {
    .cb-col-20 {
        width: 20%;
        float: left;
    }
}
/* =============
   Bootstrap-custom
============= */
/* Dropdown */

.dropdown-menu {
    padding: 4px 0;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.dropdown-menu > li > a {
    padding: 6px 20px;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #f3f3f3;
    color: #36404a;
}
.dropup .dropdown-menu {
    box-shadow: 0px -1px 5px 0 rgba(0, 0, 0, 0.26);
}
.dropdown-menu.whitebg {
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.26);
}
/* Close Icon */

.close {
    opacity: .6;
}
/* Background colors */

.bg-custom {
    background-color: #1c2b36;
}
.bg-primary {
    background-color: #00bcd4;
}
.bg-success {
    background-color: #8bc34a;
}
.bg-info {
    background-color: #1d89cf;
}
.bg-warning {
    background-color: #ffc700;
}
.bg-danger {
    background-color: #ee2337;
}
.bg-muted {
    background-color: #f4f8fb;
}
.bg-inverse {
    background-color: #4c5667;
}
.bg-purple {
    background-color: #a767dd;
}
.bg-pink {
    background-color: #fb6d9d;
}
.bg-red {
    background-color: #ed7161;
}
.bg-white {
    background-color: #ffffff;
}
.bg-lightdark {
    background-color: #f4f8fb;
}
.bg-green {
    background-color: #8bc34a;
}
/* Text colors */

.text-custom {
    color: #7e57c2;
}
.text-white {
    color: #ffffff;
}
.text-danger {
    color: #f05050;
}
.text-muted {
    color: #b5b5b5;
}
.text-primary {
    color: #5d9cec;
}
.text-warning {
    color: #ffbd4a;
}
.text-success {
    color: #81c868;
}
.text-info {
    color: #34d3eb;
}
.text-inverse {
    color: #4c5667;
}
.text-pink {
    color: #fb6d9d;
}
.text-purple {
    color: #7266ba;
}
.text-dark {
    color: #555;
}
/* Form components */

textarea.form-control {
    min-height: 90px;
}
.form-control {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 7px 12px;
    height: 38px;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.form-control:focus {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    color: #333333;
}
.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.form-horizontal .form-group {
    margin-left: -10px;
    margin-right: -10px;
}
.form-control-feedback {
    line-height: 38px !important;
}
.input-group-btn .btn {
    padding: 8px 12px;
}
.input-group-btn .btn-sm {
    padding: 5px 10px;
}
.input-group-btn .btn-lg {
    padding: 10px 17px;
}
/* Labels */

.label {
    font-weight: 400;
    letter-spacing: 0;
    padding: 0 5px;
    font-size: 12px;
    line-height: 20px;
}
.label-default {
    background-color: #1c2b36;
}
.label-primary {
    background-color: #39b54a;
}
.label-success {
    background-color: #88c057;
}
.label-info {
    background-color: #48a0dc;
}
.label-warning {
    background-color: #ffc700;
}
.label-danger {
    background-color: #ed7161;
}
.label-purple {
    background-color: #7266ba;
}
.label-pink {
    background-color: #fb6d9d;
}
.label-inverse {
    background-color: #4c5667;
}
/* Badge */

.badge {
    text-transform: uppercase;
    font-weight: 600;
    padding: 3px 5px;
    font-size: 12px;
    margin-top: 1px;
    background-color: #7e57c2;
}
.badge-xs {
    font-size: 9px;
}
.badge-xs,
.badge-sm {
    -webkit-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
}
.badge-primary {
    background-color: #5d9cec;
}
.badge-success {
    background-color: #81c868;
}
.badge-info {
    background-color: #34d3eb;
}
.badge-warning {
    background-color: #ffbd4a;
}
.badge-danger {
    background-color: #f05050;
}
.badge-purple {
    background-color: #7266ba;
}
.badge-pink {
    background-color: #fb6d9d;
}
.badge-inverse {
    background-color: #4c5667;
}
/* Pagination/ Pager */

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.pagination > li > a,
.pagination > li > span {
    color: #555;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #f0f3f4;
    border-color: #ebebeb;
}
.pagination-split li {
    margin-left: 5px;
    display: inline-block;
    float: left;
}
.pagination-split li:first-child {
    margin-left: 0;
}
.pagination-split li a {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #fff;
    border-color: #ebebeb;
    color: #555;
}
.pager li > a,
.pager li > span {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #636e7b;
}
/* Tabs */

.tabs {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0px;
    position: relative;
    white-space: nowrap;
    width: 100%;
}
.tabs li.tab {
    background-color: #ffffff;
    display: block;
    float: left;
    margin: 0;
    text-align: center;
}
.tabs li.tab a {
    -moz-transition: color 0.28s ease;
    -ms-transition: color 0.28s ease;
    -o-transition: color 0.28s ease;
    -webkit-transition: color 0.28s ease;
    color: #ee6e73;
    display: block;
    height: 100%;
    text-decoration: none;
    transition: color 0.28s ease;
    width: 100%;
}
.tabs li.tab a.active {
    color: #555;
}
.tabs .indicator {
    background-color: #ee2337;
    bottom: 0;
    height: 2px;
    position: absolute;
    will-change: left, right;
}
.tabs-top .indicator {
    top: 0;
}
.nav-pills li a {
    line-height: 36px !important;
}
.nav-pills li.active a {
    background-color: #7e57c2;
}
.nav-pills li.active a:hover {
    background-color: #7e57c2;
}
.nav-pills li.active a:focus {
    background-color: #7e57c2;
}
.nav.nav-tabs + .tab-content {
    background: #ffffff;
    margin-bottom: 30px;
    padding: 30px;
}
.tabs-vertical-env {
    margin-bottom: 30px;
}
.tabs-vertical-env .tab-content {
    background: #ffffff;
    display: table-cell;
    margin-bottom: 30px;
    padding: 30px;
    vertical-align: top;
}
.tabs-vertical-env .nav.tabs-vertical {
    display: table-cell;
    min-width: 120px;
    vertical-align: top;
    width: 150px;
}
.tabs-vertical-env .nav.tabs-vertical li.active > a {
    background-color: #ffffff;
    border: 0;
}
.tabs-vertical-env .nav.tabs-vertical li > a {
    color: #333333;
    text-align: center;
    white-space: nowrap;
}
.nav.nav-tabs > li.active > a {
    background-color: #ffffff;
    border: 0;
}
.nav.nav-tabs > li > a,
.nav.tabs-vertical > li > a {
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #cbcbcb;
    cursor: pointer;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 0.03em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav.nav-tabs > li > a:hover,
.nav.tabs-vertical > li > a:hover {
    color: #555;
}
.tab-content {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #777777;
}
.nav.nav-tabs > li:last-of-type a {
    margin-right: 0px;
}
.nav.nav-tabs {
    border-bottom: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.navtab-bg {
    background-color: #f4f8fb;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus,
.tabs-vertical-env .nav.tabs-vertical li.active > a {
    border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.tabs-vertical > li.active > a,
.tabs-vertical > li.active > a:focus,
.tabs-vertical > li.active > a:hover {
    color: #555;
}
/* List group */

.list-group-item {
    border: 1px solid #ebeff2;
}
/* Dropcap */

.dropcap {
    font-size: 3.1em;
}
.dropcap,
.dropcap-circle,
.dropcap-square {
    display: block;
    float: left;
    font-weight: 400;
    line-height: 36px;
    margin-right: 6px;
    text-shadow: none;
}
/* Alert */

.alert .btn {
    margin-top: 10px;
}
.alert-success {
    background-color: rgba(95, 190, 170, 0.3);
    border-color: rgba(95, 190, 170, 0.4);
    color: #643da9;
}
.alert-success .alert-link {
    color: #4e3083;
}
.alert-info {
    background-color: rgba(52, 211, 235, 0.2);
    border-color: rgba(52, 211, 235, 0.3);
    color: #34d3eb;
}
.alert-warning {
    background-color: rgba(255, 189, 74, 0.2);
    border-color: rgba(255, 189, 74, 0.3);
    color: #ffbd4a;
}
.alert-danger {
    background-color: rgba(240, 80, 80, 0.2);
    border-color: rgba(240, 80, 80, 0.3);
    color: #f05050;
}
/*Default btn*/

.btn-primary {
    background-color: #0072bc;
}
.btn-warning {
    background-color: #ffc700;
}
.btn-success {
    background-color: #8bc34a;
}
.btn-purple {
    background-color: #a767dd;
}
.btn-danger {
    background-color: #e92020;
}
/* Modals */

.modal .modal-dialog .modal-content {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #DDDDDD;
    border-radius: 2px;
    box-shadow: none;
    padding: 25px;
}
.modal .modal-dialog .modal-content .modal-header {
    border-bottom-width: 2px;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}
.modal .modal-dialog .modal-content .modal-body {
    padding: 20px 0;
}
.modal .modal-dialog .modal-content .modal-footer {
    padding: 0;
    padding-top: 15px;
}
.modal-full {
    width: 98%;
}
.modal-content .nav.nav-tabs + .tab-content {
    margin-bottom: 0px;
}
.modal-content .panel-group {
    margin-bottom: 0px;
}
.modal-content .panel {
    border-top: none;
}
/* Custom-modal */

.modal-demo {
    background-color: #FFF;
    width: 600px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background-clip: padding-box;
    display: none;
}
.modal-demo .close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #eeeeee;
}
.custom-modal-title {
    padding: 15px 25px 15px 25px;
    line-height: 22px;
    font-size: 18px;
    background-color: #36404a;
    color: #ffffff;
    text-align: left;
    margin: 0px;
}
.custom-modal-text {
    padding: 20px;
}
.custombox-modal-flash .close,
.custombox-modal-rotatedown .close {
    top: 20px;
    z-index: 9999;
}
/* Tabs-Accordions */

.tabs-vertical-env .tab-content {
    margin-bottom: 0px;
}
.table > thead > tr > td.middle-align,
.table > tbody > tr > td.middle-align,
.table > .tfood > tr > td.middle-align,
.table > thead > tr > th.middle-align,
.table > tbody > tr > th.middle-align,
.table > .tfood > tr > th.middle-align {
    vertical-align: middle;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #7e57c2;
    border-color: #7e57c2;
}
.nav-pills > .active > a > .badge {
    color: #7e57c2;
}
.has-success .form-control {
    border-color: #81c868;
    box-shadow: none;
}
.has-warning .form-control {
    border-color: #ffbd4a;
    box-shadow: none;
}
.has-error .form-control {
    border-color: #f05050;
    box-shadow: none;
}
.input-group-addon {
    border-radius: 2px;
    border: 1px solid #eeeeee;
}
/* Tooltips */

.tooltip-inner {
    border-radius: 1px;
    padding: 6px 10px;
}
.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: auto!important;
    height: auto!important;
}
/* Popover */

.popover {
    font-family: inherit;
    border: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-clip: padding-box;
}
.popover .popover-title {
    background-color: transparent;
    color: #7e57c2;
    font-weight: 600;
}
/* Code */

code {
    color: #5d9cec;
    background-color: #f4f8fb;
    border-radius: 4px;
}
/* Pre */

pre {
    background-color: #f4f8fb;
    border: 1px solid #d4d8da;
}
/* Well */

.well {
    background-color: #f4f8fb;
    border: 1px solid #e4e4e4;
}
/* Carousel */

.carousel-control {
    width: 10%;
}
.carousel-control span {
    position: absolute;
    top: 50%;
    /* pushes the icon in the middle of the height */

    z-index: 5;
    display: inline-block;
    font-size: 30px;
}
/* Owl */

.slider-bg {
    background-size: cover !important;
    padding: 5.5% 4.5%;
}
/* Media */

.media {
    margin-bottom: 20px;
}
.media .media-heading {
    font-weight: 600;
    font-size: 16px;
}
.media:last-of-type {
    margin-bottom: 0px;
}
/*===================================
   Topbar,Left-sidebar,Right-sidebar
  ===================================*/

.topbar {
    left: 0px;
    position: fixed;
    right: 0;
    top: 0;
 z-index: 9999;
   /* box-shadow: 205px 0.9px 3px rgba(0, 0, 0, 0.15);*/
}
.fixed-left-void .topbar {
    box-shadow: 69px 0.9px 3px rgba(0, 0, 0, 0.15);
}
.topbar .topbar-left {
    float: left;
    position: relative;
    width: 205px;
    z-index: 1;
    background: #004880;
}
.topbar .topbar-left-sm {
    width: 180px;
}
.logo {
    color: #ffffff !important;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 60px;
    text-transform: uppercase;
    padding: 12px 20px;
}
.logo h1 {
    height: 50px;
    margin: 0px auto;
    text-align: center;
}
.logo .icon-c-logo {
    display: none;
}
.navbar-default {
    background-color: #fff;
    border-radius: 0px;
    border: none;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav > .open > a {
    background-color: rgba(255, 255, 255, 0.1);
}
.navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(255, 255, 255, 0.1);
}
.navbar-default .navbar-nav > .open > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.navbar-default .badge {
    position: absolute;
    top: 12px;
    right: 7px;
}
.nav > li > a {
    line-height: 60px;
    padding: 0px 15px;
    position: relative;
}
.nav > li > a i {
    font-size: 16px;
}
.profile img {
    border: 2px solid #edf0f0;
    height: 36px;
    width: 36px;
}
.nav>li>a >span.caret + img {
    margin-left: 5px;
}
.dropdown-menu-lg {
    width: 300px;
}
.dropdown-menu-lg .list-group {
    margin-bottom: 0px;
}
.dropdown-menu-lg .list-group-item {
    border: none;
    padding: 10px 20px;
}
.dropdown-menu-lg .media-heading {
    margin-bottom: 0;
}
.dropdown-menu-lg .media-body p {
    color: #828282;
}
.notification-list {
    max-height: 230px;
}
.notification-list em {
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    margin-top: 4px;
}
.notification-list .media-body {
    display: inherit;
    width: auto;
    overflow: hidden;
    margin-left: 50px;
}
.notification-list .media-body h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    font-weight: normal;
    overflow: hidden;
}
.notifi-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 11px 20px 15px;
    color: #4c5667;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.noti-primary {
    color: #5d9cec;
    border: 2px solid #5d9cec;
}
.noti-success {
    color: #81c868;
    border: 2px solid #81c868;
}
.noti-info {
    color: #34d3eb;
    border: 2px solid #34d3eb;
}
.noti-warning {
    color: #ffbd4a;
    border: 2px solid #ffbd4a;
}
.noti-danger {
    color: #f05050;
    border: 2px solid #f05050;
}
.noti-dark {
    color: #36404a;
    border: 2px solid #36404a;
}
.noti-purple {
    color: #7266ba;
    border: 2px solid #7266ba;
}
.noti-pink {
    color: #fb6d9d;
    border: 2px solid #fb6d9d;
}
.noti-custom {
    color: #7e57c2;
    border: 2px solid #7e57c2;
}
.noti-inverse {
    color: #4c5667;
    border: 2px solid #4c5667;
}
.top-fix-navbar .fa {
    color: #555;
}
.navbar-nav {
    margin: 0;
}
.side-menu {
    bottom: 0;
    top: 0;
    width: 205px;
    z-index: 9;
}
.side-menu.left {
    background: #004880;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    position: absolute;
    top: 30px;
}
.buttons-excel, .buttons-excel:visited {background:#ff0000!important;color:#fff!important;}
.buttons-excel:hover {background:#333!important}
body.fixed-left .side-menu.left {
    bottom: 50px;
    height: 100%;
    margin-bottom: -70px;
    margin-top: 0px;
    padding-bottom: 70px;
    position: fixed;
}


.side-menu.right {
    background: #ffffff;
    border-left:1px solid #e1e1e1;
    position: absolute;
    top: 60px;
	right:0;
	width:240px;
}
body.fixed-left .side-menu.right {
    bottom: 50px;
    height: 100%;
    margin-bottom: -70px;
    margin-top: 0px;
    padding-bottom: 70px;
    position: fixed;
}

.content-page {
    margin-left: 205px;
	/*margin-right: 240px;*/
    overflow: hidden;
}

.content-page > .content {
    margin-bottom: 60px;
    margin-top: 60px;
    padding: 0;
}
.cb-page-content {
    padding: 0 15px;
}
.button-menu-mobile {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    line-height: 60px;
    padding: 0 15px 0 30px;
}
.button-menu-mobile:hover {
    color: #ffffff;
}
.sidebar-inner {
    height: 100%;
}
#sidebar-menu,
#sidebar-menu ul,
#sidebar-menu li,
#sidebar-menu a {
    border: 0;
    font-weight: normal;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}
#sidebar-menu {
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
}
#sidebar-menu .nav > li > a .badge {
    position: absolute;
    right: 10px;
    top: 12px;
}
#sidebar-menu a {
    line-height: 1.3;
}
#sidebar-menu ul ul {
    display: none;
}

#sidebar-menu ul ul.block {
    display: block;
}

#sidebar-menu ul ul li {
    border-top: 0;
}
#sidebar-menu ul ul li.active a {
    color: #ee2337;
}
#sidebar-menu ul ul a {
    color: #c1daec;
    display: block;
    padding: 10px 20px 10px 65px;
    background: #17242d;
}
#sidebar-menu ul ul a:hover {
    color: #a9bfd1;
}
#sidebar-menu ul ul a i {
    margin-right: 5px;
}
#sidebar-menu ul ul ul a {
    padding-left: 80px;
}
#sidebar-menu .label {
    margin-top: -2px;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}
#sidebar-menu .label:before {
    content: '';
    width: 26px;
    height: 26px;
    opacity: 0.3;
    position: absolute;
    border-radius: 50%;
    top: -3px;
    left: -3px;
    background: inherit;
    text-align: center;
}
#sidebar-menu .subdrop {
    background: #17242d
}
#sidebar-menu > ul > li > a {
    color: #c1daec;
    display: block;
    padding: 12px 20px;
    margin: 0;
}
#sidebar-menu > ul > li > a:hover {
    color: #a9bfd1;
    text-decoration: none;
}
#sidebar-menu > ul > li > a > span {
    vertical-align: middle;
}
#sidebar-menu ul li .cb-nav-arrow {
    -webkit-transition: -webkit-transform 0.15s;
    -o-transition: -o-transform 0.15s;
    transition: transform .15s;
    position: absolute;
    right: 20px;
    display: inline-block;
    text-rendering: auto;
    line-height: 18px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    color: #98a6ad;
}
#sidebar-menu ul li a.subdrop .cb-nav-arrow {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#sidebar-menu ul li a i {
    display: inline-block;
    font-size: 16px;
    line-height: 17px;
    margin-left: 3px;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    color: #c1daec;
}
#sidebar-menu ul li a i.md {
    font-size: 18px;
}
#sidebar-menu > ul > li > a > i.i-right {
    float: right;
    margin: 3px 0 0 0;
}
.menu-title {
    padding: 12px 20px !important;
    letter-spacing: .035em;
    pointer-events: none;
    cursor: default;
    font-size: 14px;
    color: #ffffff;font-weight:bold
}
#sidebar-menu .menu-title {
    padding: 28px 20px 35px!important;
    border-top: solid 1px #243a49 !important;
}
#sidebar-menu li.menu-title:first-child{border-top: none !important;}
/* Small Menu */

.side-menu-sm {
    width: 180px;
    text-align: center;
}
.side-menu-sm #sidebar-menu > ul > li > a > i {
    display: block;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    margin: 0px;
}
.side-menu-sm #sidebar-menu ul ul a {
    padding: 10px 20px 10px 20px;
}
.side-menu-sm + .content-page .footer {
    left: 180px;
}
#wrapper.enlarged .side-menu-sm {
    text-align: left;
}
#wrapper.enlarged .side-menu-sm #sidebar-menu ul li a i {
    display: inline-block;
    font-size: 18px;
    line-height: 17px;
    margin-left: 3px;
    margin-right: 15px;
    vertical-align: middle;
    width: 20px;
}
.side-menu-sm + .content-page {
    margin-left: 180px;
}
/* Header 2 */

.page-header-2 {
    background: #E3E7EC;
    border-bottom: 1px solid #dee2e8;
    margin: -25px -20px 22px -20px;
    padding: 25px 20px 0px 20px;
}
#wrapper.enlarged .menu-title,
#wrapper.enlarged .menu-arrow {
    display: none !important;
}
#wrapper.enlarged #sidebar-menu ul ul {
    margin-top: -5px;
    padding-top: 5px;
    z-index: 9999;
}
#wrapper.enlarged .left.side-menu {
    width: 70px;
    z-index: 5;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a {
    padding: 15px 20px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:hover {
    background: #17242d;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:active {
    background: #17242d;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:focus {
    background: #17242d;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a i {
    margin-right: 20px !important;
    font-size: 20px;
}
#wrapper.enlarged .left.side-menu .label {
    position: absolute;
    top: 5px;
    left: 35px;
    text-indent: 0;
    display: block;
    padding: 0;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li {
    position: relative;
    white-space: nowrap;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a {
    position: relative;
    width: 260px;
    background: #17242d;
    color: #c1daec;
    border-color: #c1daec;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul {
    display: block;
    left: 70px;
    position: absolute;
    width: 190px;
    background: #17242d;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a {
    color: #c1daec;
    box-shadow: none;
    padding-left: 15px;
    position: relative;
    width: 186px;
    z-index: 6;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a:hover {
    color: #7e57c2;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover a span {
    display: inline;
}
#wrapper.enlarged .left.side-menu #sidebar-menu li .show-menu + ul {
    display: block;
    left: 70px;
    position: absolute;
    width: 190px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu li .show-menu + ul a {
    background: #ffffff;
    box-shadow: none;
    padding-left: 15px;
    position: relative;
    width: 186px;
    z-index: 6;
}
#wrapper.enlarged .left.side-menu #sidebar-menu li .show-menu + ul a:hover {
    color: #7e57c2;
}
#wrapper.enlarged .left.side-menu #sidebar-menu a.subdrop {
    color: #7e57c2 !important;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > ul {
    display: none;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li:hover > ul {
    display: block;
    left: 190px;
    margin-top: -36px;
    position: absolute;
    width: 190px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li > a span.pull-right {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    position: absolute;
    right: 20px;
    top: 12px;
    transform: rotate(270deg);
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li.active a {
    color: #7e57c2;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > a span {
    display: none;
    padding-left: 0;
}
#wrapper.enlarged .left.side-menu .user-details {
    display: none;
}
#wrapper.enlarged .content-page {
    margin-left: 70px;
}
#wrapper.enlarged .footer {
    left: 70px;
}
#wrapper.enlarged .topbar .topbar-left {
    width: 70px !important;
    overflow: hidden;
}
#wrapper.enlarged .topbar .topbar-left .logo span {
    display: none;
    opacity: 0;
}
#wrapper.enlarged .topbar .topbar-left .logo .icon-c-logo {
    display: block;
    line-height: 60px;
}
#wrapper.enlarged #sidebar-menu > ul > li:hover > a.open:after {
    display: none;
}
#wrapper.enlarged #sidebar-menu > ul > li:hover > a.active:after {
    display: none;
}
#wrapper.enlarged .tips-box {
    display: none;
}
.tips-box .portlet {
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.05);
}
.user-details {
    padding: 20px;
    padding-bottom: 0px;
    position: relative;
}
.user-details img {
    position: relative;
    z-index: 9999;
}
.user-details .user-info {
    color: #444444;
    margin-left: 60px;
    position: relative;
    z-index: 99999;
}
.user-details .user-info a.dropdown-toggle {
    color: #797979;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
}
#wrapper.right-bar-enabled .right-bar {
    right: 0;
        padding-bottom: 100px;
        width: 240px;
}
#wrapper.right-bar-enabled .left-layout {
    left: 0;
}
/* Right sidebar */

.side-bar.right-bar {
    float: right;
    right:0;
    top: 60px;
       width: 0;
}
.side-bar {
    -moz-transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
    display: block;
    float: left;
    height: 100%;
    position: fixed;
    transition: all 200ms ease-out;
    width: 240px;
}
body.mobile.smallscreenr{position: absolute;}
.right-bar {
    background: #ffffff;
    z-index: 100;
}
.right-bar h4 {
    padding: 0;
    font-size: 14px;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 30px;
}
.todo-head {
    padding: 0 20px;
}
.todo-head small {
    color: #b5b5b5;
    font-size: 14px;
}
.contact-list {
    /*max-height: 600px;*/
}
.contact-list .list-group {
    margin-bottom: 0;
}
.contact-list .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.contact-list .list-group-item {
    border: none;
    padding: 15px;
}
.contact-list .list-group-item:hover {
    background: #ebeff2;
    border-radius: 0;
}
.contact-list i.offline {
    color: #f05050 !important;
}
.contact-list i.away {
    color: #ffbd4a;
}
.contact-list .thumb-box,
.list-group-item .avatar {
    display: inline-block;
    /*  float: left;*/

    margin-right: 15px;
    margin-left: 10px;
    width: 47px;
    position: relative;
}
.contact-list .thumb-box img,
.list-group-item .avatar img {
    border-radius: 50%;
    width: 100%;
}
.contact-list .info-box {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 72%;
}
.contact-list .list-group-item .info-des,
.contact-list .list-group-item .info-name,
.contact-list .list-group-item .info-prof {
    color: #555;
    display: block;
    overflow: hidden;
}
.contact-list .list-group-item .info-prof,
.contact-list .list-group-item .info-time {
    color: #b5b5b5;
    padding-top: 0;
}
.contact-list i.fa-circle {
    position: absolute;
    font-size: 9px;
    line-height: 0;
    left: 35px;
    top: 42px;
}
.contacts-list i.fa-circle:before {
    content: "\f111";
    position: absolute;
    z-index: 1;
    left: 3px;
    top: 0;
}
.contacts-list i.fa-circle:after {
    color: rgb(255, 255, 255);
    content: "\f111";
    font-size: 18px;
    position: absolute;
    left: -1px;
    top: 0px;
}
.contact-list .task-list .thumb-icon {
    display: inline-block;
    margin-right: 15px;
    margin-left: 10px;
    width: 23px;
    height: 23px;
    position: relative;
    border-radius: 50%;
    z-index: 2;
}
.contact-list .task-list .info-box {
    vertical-align: top;
    border-bottom: 1px solid #ebeff2;
    padding-bottom: 10px;
    padding: 0 15px 20px;
}
.contact-list .task-list .list-group-item {
    padding-bottom: 1px;
    padding-top: 20px;
}
.contact-list .task-list .info-box {
    vertical-align: top;
    border-bottom: 1px solid #ebeff2;
    padding-bottom: 10px;
    padding: 0 15px 19px;
}
.contact-list .task-list .list-group-item:before {
    content: '';
    border-right: 1px solid #ececec;
    position: absolute;
    height: 100%;
    left: 36px;
    top: 20px;
    z-index: 1;
}
.contact-list .task-list .list-group-item:first-child:before {
    top: 42px;
}
.contact-list .task-list .list-group-item:last-child:before {
    border: none;
    top: 20px;
}
.contact-list .task-list .list-group-item:nth-last-child(2):before {
    top: 20px;
}
.contact-list .task-list .list-group-item:last-child .info-box {
    border-bottom: none;
}
.contact-list .task-list .thumb-icon i {
    font-size: 10px;
    position: relative;
    left: 7px;
}
.contact-list .act-list .list-group-item:before {
    content: '';
    border-right: 1px solid #ececec;
    position: absolute;
    height: 100%;
    left: 47px;
    top: 15px;
    z-index:1;
}
.avatar-group .list-group-item:before {
    display: none
}
.avatar-group .list-group-item {
    background: transparent;
    padding: 8px 0px 8px 0 !important
}
.list-group-item .avatar {
    margin-left: 0;
    margin-right: 0;
}
.contact-list .task-list .avatar-group {
    margin-left: 0;
    margin-bottom: 0;
    white-space: nowrap;
}
.contact-list .task-list .avatar-group .avatar:hover {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .175);
    box-shadow: 0 0 2px rgba(0, 0, 0, .175);
    border-radius: 50%;
}
/*
.contact-list .act-list   .list-group-item:first-child:before{
    top:15px;
}
.contact-list .act-list .list-group-item:nth-last-child(2):before{  top: 15px; }*/

.contact-list .act-list .list-group-item:last-child:before {
    top: 15px;
    border: none;
}
.contact-list .act-thumb-box {
    position: relative;
    left: 0;
    width: 47px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 10px;
    z-index:2;
}
.contact-list .act-thumb-box img {
    border-radius: 50%;
    width: 100%;
}
.contact-list .act-list .info-box {
    vertical-align: top;
}
.act-alert-info {
    width: auto;
    height: 35px;
    background-color: rgba(136, 192, 87, 0.1);
    border-radius: 4px 3px 3px 4px;
    color: #57a018;
    margin: 20px 15px;
    line-height: 35px;
    padding: 0 15px;
}
.act-alert-info i {
    color: #8aa970;
}
.contact-list .online {
    color: #a0d269;
}
.contact-list .offline {
    color: #f05050 !important;
}
.contact-list .away {
    color: #ffbd4a;
}
.contact-list .danger {
    color: #ee2337;
}
.side-bar.right-bar .contact-list .info-box {
    width: 57%;
}
/*.contact-list .task-list .info-box .info-des span{ display: none;}
.contact-list .act-list .info-box .info-des span{ display: none;}*/
/*.contacts-list .info-box{ width: 230px;}
.task-list .info-box{ width: 230px;}*/

.app-search {
    position: relative;
    margin: 15px 0px 15px 10px;
}
.app-search a {
    position: absolute;
    top: 5px;
    right: 20px;
    color: #c4c4cd;
}
.app-search .form-control,
.app-search .form-control:focus {
    border: none;
    font-size: 14px;
    color: #8a9298;
    padding-left: 20px;
    padding-right: 40px;
    background-color: #f3f3f3;
    box-shadow: none;
    border-radius: 30px;
    height: 30px;
    font-weight: 400;
    width: 188px;
}
.app-search input::-webkit-input-placeholder {
    color: #cbcbcb;
    font-weight: normal;
}
.app-search input:-moz-placeholder {
    color: #cbcbcb;
    font-weight: normal;
}
.app-search input::-moz-placeholder {
    color: #cbcbcb;
    font-weight: normal;
}
.app-search input:-ms-input-placeholder {
    color: #cbcbcb;
    font-weight: normal;
}
.top-fix-navbar .fa.fa-search {
    color: #959595;
    font-size: 12PX;
}
.side-bar.right-bar .contact-list .tab-content {
    padding-bottom: 30px;
}
/*To do list*/

.checkbox.small-check label:before {
    width: 14px;
    height: 13px;
    left: 0;
    margin-left: -17px;
    position: absolute;
    transition: 0.3s ease-in-out;
    margin-top: 4px;
}
.checkbox.small-check label::after {
    font-size: 10px;
}
.side-bar.right-bar .todoapp {
    padding: 0 20px;
}
.data-points .title-text {
    letter-spacing: .035em;
    pointer-events: none;
    cursor: default;
    font-size: 14px;
    color: #7792a5
}
body.fixed-left-void .data-points{ display: none;}
body.fixed-left-void .side-menu.left{ position: fixed;}
/* =============
  Responsive Tabel
============= */

.thumb-avatar {
    display: inline-block;
    /* float: left; */

    margin-right: 15px;
    margin-left: 10px;
    width: 47px;
    position: relative;
}
.thumb-avatar img {
    border-radius: 50%;
    width: 100%;
}
.cb-res-table .checkbox label.thumb-avatar:before {
    top: 15px;
}
.cb-res-table .checkbox label.thumb-avatar {
    width: 100%;
}
.cb-res-table .checkbox label.thumb-avatar img {
    max-width: 47px;
}
.thumb-avatar img {
    margin-right: 15px;
    margin-left: 10px;
}
.cb-res-table .checkbox label.thumb-avatar:after {
    top: 17px;
    margin-left: -18px;
}
.cb-res-table td .btn {
    min-width: 100px;
}
.cb-res-table td .btn {
    width: 100%;
    max-width: 100px;
}
.cb-res-table td .btn.btn-default {
    width: auto;
    min-width: initial;
}
.cb-res-table td .btn.btn-default i {
    color: #929292;
}
.cb-res-table {
    float: left;
    width: 100%;
    background: #fff;
}
.cb-pagination .pagination {
    margin: 15px 20px;
}
.cb-table-search {
    padding: 15px 0;
    border-bottom: 1px solid #ebebeb;
    float: left;
    width: 100%;
}
.cb-table-search .btn {
    padding: 8px 30px;
    text-align: left;
}
.cb-res-table .table > thead > tr > th {
    padding: 20px;
}
.drop-menu-checkbox {
    padding: 20px;
}
.drop-menu-checkbox .checkbox label {
    padding-left: 10px;
}
.cb-table-search .cb-ta-search {
    max-width: 240px;
}

.widescreen.fixed-left .logo,.mobile.smallscreen .logo ,.widescreen.fixed-left-void .logo {
    height: 37px;
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    top: 19px;
    left: 20px;
    box-sizing: CONTENT-BOX;
    padding-bottom: 11px;
}
/*.widescreen.fixed-left .logo{ background: url(../images/logo.png) no-repeat; width: 118px;}
.mobile.smallscreen .logo ,.widescreen.fixed-left-void .logo{background: url(../images/m-logo.png) no-repeat; width:31px; }*/
.widescreen.fixed-left .logo{ background: none; width: 118px;}
.mobile.smallscreen .logo ,.widescreen.fixed-left-void .logo{background: none; width:31px; }
.mobile.smallscreen .logo{top: 15px;}


/*Chart nav*/
.nav-pills.cb-rounded-nav li a{
    background-color: #fff;
    border-radius:24px;
    line-height: 26px !important;
    color: #555;
     border:1px solid #fff;
}
.nav-pills.cb-rounded-nav li.active a{
    border-color:#ebebeb;
}
.nav-pills.cb-rounded-nav li a:hover{
    border-color:#ebebeb;
      background-color: #fff;
     color: #555;
}
/* =============
   Animation
============= */
/* Bounce 1 */

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
    }
}
@-o-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -o-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -o-transform: scale(1.2);
    }
    100% {
        -o-transform: scale(1);
    }
}
@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
/* Bounce 2 */

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@-o-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -o-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -o-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
/* Dropdown */

@-webkit-keyframes dropdownOpen {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes dropdownOpen {
    0% {
        opacity: 0;
        -moz-transform: scale(0);
    }
    100% {
        -moz-transform: scale(1);
    }
}
@-o-keyframes dropdownOpen {
    0% {
        opacity: 0;
        -o-transform: scale(0);
    }
    100% {
        -o-transform: scale(1);
    }
}
@keyframes dropdownOpen {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
/* Progressbar Animated */

@-webkit-keyframes animationProgress {
    from {
        width: 0;
    }
}
@keyframes animationProgress {
    from {
        width: 0;
    }
}
/* Portlets loader */

@-webkit-keyframes loaderAnimate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(220deg);
    }
}
@-moz-keyframes loaderAnimate {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(220deg);
    }
}
@-o-keyframes loaderAnimate {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(220deg);
    }
}
@keyframes loaderAnimate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(220deg);
    }
}
@-webkit-keyframes loaderAnimate2 {
    0% {
        box-shadow: inset #555 0 0 0 8px;
        -webkit-transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #555 0 0 0 2px;
    }
    100% {
        box-shadow: inset #555 0 0 0 8px;
        -webkit-transform: rotate(140deg);
    }
}
@-moz-keyframes loaderAnimate2 {
    0% {
        box-shadow: inset #555 0 0 0 8px;
        -moz-transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #555 0 0 0 2px;
    }
    100% {
        box-shadow: inset #555 0 0 0 8px;
        -moz-transform: rotate(140deg);
    }
}
@-o-keyframes loaderAnimate2 {
    0% {
        box-shadow: inset #555 0 0 0 8px;
        -o-transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #555 0 0 0 2px;
    }
    100% {
        box-shadow: inset #555 0 0 0 8px;
        -o-transform: rotate(140deg);
    }
}
@keyframes loaderAnimate2 {
    0% {
        box-shadow: inset #555 0 0 0 8px;
        -webkit-transform: rotate(-140deg);
        -moz-transform: rotate(-140deg);
        -ms-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #555 0 0 0 2px;
    }
    100% {
        box-shadow: inset #555 0 0 0 8px;
        -webkit-transform: rotate(140deg);
        -moz-transform: rotate(140deg);
        -ms-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}
@keyframes loaderAnimate2 {
    0% {
        box-shadow: inset #999 0 0 0 17px;
        transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #999 0 0 0 2px;
    }
    100% {
        box-shadow: inset #999 0 0 0 17px;
        transform: rotate(140deg);
    }
}
/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
}
.waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
}
.waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
}
.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
}
.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
}
.waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
}
.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
}
.waves-notransition {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none ;
    transition: none;
}
.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
}
.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}
.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.waves-block {
    display: block;
}
/* =============
   Print css
============= */

@media print {
    .logo,
    .breadcrumb,
    .page-title,
    .footer {
        display: none;
        margin: 0px;
        padding: 0px;
    }
    .left,
    .right-bar {
        display: none;
    }
    .content {
        margin-top: 0px;
        padding-top: 0px;
    }
    .content-page {
        margin-left: 0px;
        margin-top: 0px;
    }
}

/**********************/

.followBox{
	border-bottom:1px solid #e1e1e1;
}

.followBox .contact-list .thumb-box{
	width:34px;
	margin:0 10px 0 0;
}

.followBox .contact-list i.fa-circle {
    left: 24px;
    top: 30px;
}

.followBox .contact-list .info-box{
	width:70%;
}

.followBox h4{
	font-size:14px;
	font-weight:600;
	margin:15px 15px 0;
}

.followBox .btn{margin:15px auto;}

.todo-list ul li{
	list-style:none;
	margin:5px 15px;
}

.todo-list h4{
	font-size:14px;
	font-weight:600;
	margin:15px 15px 0;
}

.todo-list h4 span{
	color: #B5B5B5;
	display:block;
	font-weight:normal;
}

.loreg-page,
.error-page {
    background: #004880;
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
}

#logreg-wrapper ,
#error-wrapper {
    position: relative;
    padding: 30px 0;
    top: 50%;
    transform: translateY(-50%);
    max-height: 100vh;
    overflow: auto;
	overflow-x:hidden;
}

#error-wrapper .lead {
    color: #ffffff;
    font-size: 42px;
    font-weight: 300;
    line-height: 50px;
    margin: 65px 0 40px;
    margin-bottom:10px
}

#error-wrapper h2 {
	font-size: 250px;
	line-height: 250px;
	font-weight: 300;
	color: #fff;
	margin-bottom: 40px;
}

#error-wrapper h2 + p {
	color:#ccc;
	font-size:16px;
	margin:0 0 30px;
}

#error-wrapper h2 + p a {
	color:#fff;
	border-bottom:1px dashed #fff;
}

#error-wrapper .copy {
	color:#ccc;
	font-size:16px;
}

#error-wrapper .copy span {
    color: #ff000c;
}

#logreg-wrapper .lead {
    color: #ffffff;
    font-size: 42px;
    font-weight: 300;
    line-height: 50px;
    margin: 50px 0 0px;
    margin: 50px 0 0px;
    margin-bottom:10px;
}

#logreg-wrapper .lead + p {
    color: #ff0000;
    font-size: 15px;
    margin: 12px 0 50px;
}

#logreg-wrapper form {
	width:100%;
	max-width:450px;
	margin:0 auto;
}

#logreg-wrapper form input {
	width:100%;
	height:48px;
	border:1px solid #d2d5d8;
	color:#fff;
	font-size:15px;
	border-radius:0px;
	background:transparent;
	padding:0 20px;
}

#logreg-wrapper form .form-group {
	margin-bottom:22px;
}

#logreg-wrapper form input::-webkit-input-placeholder { color: #fff; }

#logreg-wrapper form input:-moz-placeholder { color: #fff; }

#logreg-wrapper form input::-moz-placeholder { color: #fff; }

#logreg-wrapper form input:-ms-input-placeholder { color: #fff; }

#logreg-wrapper form .cbox {
	color:#fff;
	text-align:left;
	padding-left:30px;
	position:relative;
}

#logreg-wrapper form .cbox label {
	font-weight:400;
}

#logreg-wrapper form .cbox input {
    position: absolute;
    opacity: 0;
    height: 1px;
    width: 1px;
}

#logreg-wrapper form .cbox span {
    content: "";
    border: 1px solid #d2d5d8;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
}

#logreg-wrapper form .cbox span:after {
	content: "\f00c";
	font-family: 'FontAwesome';
	width: 100%;
    height: 100%;
	text-align:center;
	line-height:20px;
    position: absolute;
    left: 0;
	color:#d81d26;
	opacity:0;
	transition:.4s;
	-webkit-transition:.4s;
	-moz-transition:.4s;
}

#logreg-wrapper form .cbox input:checked + span:after {
	opacity:1;
	transition:.4s;
	-webkit-transition:.4s;
	-moz-transition:.4s;
}

#logreg-wrapper form .loginbutton {
    width: 100%;
    background: #F28D0A;
    border: none;
    border-radius: 0px;
    height: 48px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
	transition:.2s;
	-webkit-transition:.2s;
	-moz-transition:.2s;
}

#logreg-wrapper form .loginbutton:hover {
    background: #333 !important;
    color: #fff !important;
	transition:.2s;
	-webkit-transition:.2s;
	-moz-transition:.2s;
}

#logreg-wrapper .copy {
	color:#ccc;
	font-size:16px;
	margin-top:70px;
}

#logreg-wrapper .copy span {
    color: #ff000c;
}

#logreg-wrapper.login-style2 .form-group {
	position:relative;
}

#logreg-wrapper.login-style2 .lead {
    margin-bottom: 80px;
}

#logreg-wrapper.login-style2 form button {
	border-radius:45px;
}

#logreg-wrapper.login-style2 form input[type=email] ,
#logreg-wrapper.login-style2 form input[type=password] {
	border-radius:45px;
	background:#111d2d;
}

#logreg-wrapper.login-style2 form input {
	font-size: 13px;
	font-weight: 300;
	padding:0 22px 0 138px;
}

#logreg-wrapper.login-style2 .form-group label {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    left: 22px;
    top: 15px;
    border-right: 1px solid #fff;
    padding-right: 13px;
    line-height: 17px;
}

#logreg-wrapper.login-style2 .copy {
    margin-top: 90px;
}

.boostrap-datetimepicker-widget .btn {
	min-width:50px !important;
}

.deshboard-first .side-bar.right-bar{width:240px;right:0}
.deshboard-first .right-bar-enabled  .side-bar.right-bar{right:-240px !important;}
.deshboard-first .right-bar-enabled  .content-page{margin-right:0px;}
.deshboard-first{margin-right: 240px;}
.deshboard-first.close-it{margin-right:0px;}

.bar-280 {height: 280px;}
.bar-215 {height: 215px;}
.fullwidth {width: 100%;}

.placeholder_1 {
	width: 100%;
	height: 280px;
	font-size: 14px;
	line-height: 1.2em;
}

.color-1 {color:#3993bb;}
.color-2 {color:#65b5c2;}
.color-3 {color:#2e7bad;}
.color-4 {color:#23649e;}
.color-5 {color:#63daed;}
