body {margin:0;padding:0;background:#0072BB;color:#fff;font-family:Arial, Verdana, Tahoma, Helvetica, sans-serif;font-size:12px;line-height:16px;}
.body2 {margin:0;padding:0;background:#F7941D}
#wrapper {width:180px;}
#articlelist {margin:0;padding:0;margin-top:10px;}
#articlelist li
{
	list-style-type:none;
	background: url("images/bullet.png") 0 10% no-repeat;
	padding-left: 12px;
	margin-bottom:8px;
}
a, a:visited {color:#fff;text-decoration:none;}
a:hover {color:#F78427;}
#more {font-weight:bold;text-align:right;margin-top:5px;}