@charset "utf-8";
/* CSS Document */
body {font-family: 'PT Sans', sans-serif;font-weight:400;font-size:14px;}
.headertitle {font-family: 'PT Sans', sans-serif;font-size:14px;font-weight:bold;margin-bottom:20px;}
.logo {margin-bottom:10px;}
.about {line-height:17px;}
.fontbold,.line-header-blue2 {font-weight:bold;}
.fontblue {color:#0e3fa8;}
.marb {margin-bottom:8px;}
a, a:visited {color:#333;}
#footer {margin:20px 0;}
a.btn:visited {color:#fff;}
.text-center {text-align:center;}
	label, input { display:block; }
	input.text { margin-bottom:12px; width:95%; padding: .4em; }
	fieldset { padding:0; border:0; margin-top:25px; }
	h1 { font-size: 1.2em; margin: .6em 0; }
	div#users-contain {  width: 350px; margin: 20px 0; }
	div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
	div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
	.ui-button { outline: 0; margin:0; padding: .4em 1em .5em; text-decoration:none;  !important; cursor:pointer; position: relative; text-align: center; }
	.ui-dialog .ui-state-highlight, .ui-dialog .ui-state-error { padding: .3em;  }
	.block_acc{width:140px;height:61px;color:#fff;font-family:"Myriad Pro";font-size:22px;}
	.ic_acc{background:url('images/block_acc.png');width:127px;height:67px;position:absolute;top:-11px;right:20px;padding:15px 6px 0px 7px;text-align:center;}
	.title_block{color:#fff;font-family:"Myriad Pro", Arial, Helvetica;font-size:16px;}
	.styled-combo {background: #097CB1;width: 150px;padding: 5px;font-size: 12px;color: #FFF;height: 28px;}
.styled-combo2 {background: #097CB1;width: 270px;padding: 5px;font-size: 12px;color: #FFF;height: 28px;}
	#logo {width:291px;height:88px;background:url(images/logo-acc.jpg) no-repeat;}
	#footer {margin-top:35px;}
	#wrapper{
		width: 100%;
		height:450px;
		margin: 25px auto;
	}
	#wrapper-table{
		width: 630;
		margin: 0 auto;
	}
	#content{
		margin: 0 50px;
	}
	#button_calc{
		padding:0;
		margin:0;
	}
	#button_calc li{
		list-style-type:none;
		float:left;
	}
	#acp_status{
		padding:0;
		margin:0;display:inline;
	}
	#acp_status li{
		list-style-type:none;
		float:left;

	}
	#term{
		padding: 10px 10px 0 0;
	}
	#toc {margin:0;margin-left:40px;padding-top:0;}
	#toc li{
		list-style-type:disc;
	}
	#header-center{
		padding-bottom: 20px;position:relative;
	}
	#acc-logo{
		background-color: #0a91f3;
		height:45px;
		margin-top:5px;
	}
	#acc-logo img{
		margin-top:-5px;
		padding-right:20px;
	}
	a.putih, a.putih:visited {text-decoration:none;color:#ffffff;}
	.top_logo{

	position:absolute;
	left:20px;
	top:-15px;
}

.gradien1{

	background: #0095da; /* Old browsers */

	background: -moz-linear-gradient(left,  #0095da 0%, #135e81 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0095da), color-stop(100%,#135e81)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(left,  #0095da 0%,#135e81 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(left,  #0095da 0%,#135e81 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(left,  #0095da 0%,#135e81 100%); /* IE10+ */

	background: linear-gradient(left,  #0095da 0%,#135e81 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0095da', endColorstr='#135e81',GradientType=1 ); /* IE6-9 */

}
.blueblock {height:61px;}
.company_title{

	color:#fff;

	font-family:"Myriad Pro";

	font-size:30px;

	margin:0px 0px 0px 100px;

	padding:15px 0px 0px 0px;

	font-weight:normal;

	height:61px;

	float:left;

}
.tabelsimulasi th {background:#02AAD9;font-weight:bold;color:#fff;padding:4px;}
.tabelsimulasi td {padding:4px;}
input.tombol {background:#0B75A6;color:#fff;font-weight:bold;padding:4px 12px;text-decoration:none;border:none;cursor:hand;margin:0;font-family:Arial, Helvetica, sans-serif;font-size:13px;}
input.tombol:hover {background:#F7941D;}
#applybutton {margin-top:2px;}
a.tombol, a.tombol:visited {background:#0B75A6;color:#fff;font-weight:bold;padding:4px 12px;text-decoration:none;font-size:13px;}
a.tombol:hover {background:#F7941D;}

.teksnya {padding:4px 8px;color:#ffffff;background:#0B75A6;border:none;}
#loader {background:url(images/ajax-loader.gif) no-repeat;width:16px;height:16px;}

select:required:invalid, select:focus:invalid {
  /* insert your own styles for invalid form input */
  -moz-box-shadow: none;
}
#box-yellow {
	background: #FFE45C url('images/bg-yellow.jpg') repeat-x;padding:20px;margin-top:20px;border:1px solid #FFE45C;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}
.bodydialog {margin:0;padding:0;background:#eee;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

#applyform {position:relative;}
#applyform label input, #applyform label {
    display:block;
}

.clear {
    clear:both;
    height:15px;
}

.error {
    height:15px;
    background-color:#FFFE36;
    font-size:11px;
    border:1px solid #E1E16D;
    padding:4px 10px;
    color:#000;
    display:none;
	position:absolute;left:190px!important;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;

    -moz-box-shadow:0 0 6px #ddd;
    -webkit-box-shadow:0 0 6px #ddd;
}

.error p {
margin:0;}
