@charset "utf-8";
/* CSS Document */
html,body { height: 100%;}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -40px;
  padding: 0 0 40px;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-regular.eot');
    src: url('../fonts/myriadpro-regular.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-regular.woff') format('woff'),
         url('../fonts/myriadpro-regular.ttf') format('truetype'),
         url('../fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}
body {font-family: 'MyriadProRegular',Arial, Helvetica, sans-serif;font-size:14px;overflow-x: hidden}
h1 {font-size:30px;font-weight:bold;text-align:center;margin-bottom:20px;}
h2 {text-align:center;font-size:36px;font-weight:bold;margin:0 0 10px 0!important;}
h3 {color:#ef7e05;font-size:18px;font-weight:bold;}
h3.titlemobil {color:#333;font-size:18px;font-weight:bold;margin:0 0 5px 0!important}
.kolommobil {background:#D0D8E8!important;vertical-align: middle!important}
#pkheader {position:relative}
#logo2 {text-align:center;padding-top:10px}
#logo {position:absolute;right:60px;top:-8px;}
#maincontent {min-height:400px}
.carmodel-wrapper {border:1px solid #ccc;margin:0 0 10px 0;padding:10px;}
.menu-wrapper {border:1px solid #ccc;padding:10px 20px;width:300px;margin:0 auto;font-size:16px;margin-bottom:20px;margin-top:20px;text-align: center}
.rcol-pkredit {padding:10px 0!important;}
.rcol-pkredit img {text-align:center;}
.box-toyota, .box-mitsubishi {background:#fe0119;}
.box-daihatsu {background:#f2711c;}
.box-honda {background:#f9a53f;}
.box-orange {color:#fff;margin:10px 0 20px 0;padding:5px 10px;-webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);}
.box-orange2 {background:#ef7e05;color:#fff;padding:10px;margin:20px 0;}
.box-orange table {width:100%!important;}
.box-orange table td {border:none!important;margin:0!important;font-weight:bold;vertical-align:middle!important;padding:2px 6px;}
.box-orange table td.abottom {vertical-align:middle!important;}
a, a:visited {color:#000!important;}
a:hover {color:#ef7e05!important;}
a.merah, a.merah:visited {color:red!important;}
.tabelmobil {width:98%;margin:10px;}
.tabelmobil th, .tabelmobil td {vertical-align:top;font-size:16px;text-align:center;}
.tabelmobil th, .tabelmobil td.header {color:#fff;background:#00b0f0;padding:4px;border:1px solid #fff;}
.tabelmobil td {border:1px solid #fff;background:#e9edf4;padding:4px;}
.tabelmobil td.striped {background:#d0d8e8;}
.form-group {margin-bottom:10px!important;}
.mart-20 {margin-top:20px;}
.errororange {background:#FC3;color:##fff;}
.dprice {font-weight:bold;font-size:16px;color:red}
#menuatas {margin:10px 0;text-align:center;}
#menubawah {margin:20px 0;text-align:center;}
a.menutoyota, a.menutoyota:visited {font-size:14px;font-weight:bold;color:#fff!important;padding:8px 30px;background:#fe0119;text-decoration:none;border:1px solid #ccc;}
a.menudaihatsu, a.menudaihatsu:visited {font-size:14px;font-weight:bold;color:#fff!important;padding:8px 30px;background:#f2711c;text-decoration:none;border:1px solid #ccc;}
a.menuhonda, a.menuhonda:visited {font-size:14px;font-weight:bold;color:#fff!important;padding:8px 30px;background:#f9a53f;text-decoration:none;border:1px solid #ccc;}
a.menutoyota:hover, a.menudaihatsu:hover, a.menuhonda:hover {-khtml-opacity:.80; -moz-opacity:.80; -ms-filter:"alpha(opacity=60)"; filter:alpha(opacity=80); filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.8); opacity:.80; }
a.menudp, a.menudp:visited {font-size:16px;font-weight:bold;color:#333;padding:8px 30px;background:#fff;text-decoration:none;border:1px solid #ccc;margin-right:5px;}
a.menudp:hover, .dpactive, .dpactive:visited {font-size:16px;font-weight:bold;padding:8px 30px;text-decoration:none;border:1px solid #ccc;margin-right:5px;background:#00b0f0!important;color:#fff!important;}
.mantap {font-size:24px;font-weight:bold;}
.pilihdp {padding:15px;font-size:16px;font-weight:bold;}
#menuterbang {height:40px;}
#menuterbang a {margin:0!important;}
#menuslidecontent {display:none;}
.m-10 {margin:10px 0 20px 0}
.menubrand {margin-right:0;display:inline-block;width:100px;}
img.logobrand {width:100%;opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
img.logobrand:hover, .mbactive img.logobrand{
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.form-horizontal .control-label{text-align:left;}
.banner-sky img {max-width:200px!important;position:fixed}
@media only screen and (max-width : 1200px) {
.banner-sky img {max-width:200px!important;position:fixed}
}
@media only screen and (max-width : 1024px) {
.banner-sky img {max-width:150px!important;position:fixed}
}
@media only screen and (max-width : 768px) {
.banner-sky img {display:none}
}
@media only screen and (max-width : 480px) {
.banner-sky img {display:none}
}
@media only screen and (max-width : 320px) {
.banner-sky img {display:none}
}






@media (max-width: 767px) {
body {font-family: 'MyriadProRegular',Arial, Helvetica, sans-serif;font-size:14px;overflow-x: hidden}
.carmodel-title h2 {line-height:50px;text-align:center;font-size:36px;font-weight:bold;margin:0!important;}
.tabelmobil {width:98%;margin:4px;}
.tabelmobil th, .tabelmobil td {vertical-align:top;font-size:12px;font-weight:normal;text-align:center;}
.rcol-pkredit {text-align:center;}
a.menutoyota, a.menutoyota:visited {font-size:14px;font-weight:bold;color:#fff!important;padding:8px 18px;background:#fe0119;text-decoration:none;border:1px solid #ccc;}
a.menudaihatsu, a.menudaihatsu:visited {font-size:14px;font-weight:bold;color:#fff!important;padding:8px 15px;background:#f2711c;text-decoration:none;border:1px solid #ccc;}
a.menuisuzu, a.menuisuzu:visited {font-size:14px;font-weight:bold;color:#fff!important;padding:8px 18px;background:#f9a53f;text-decoration:none;border:1px solid #ccc;}
#menuterbang a.menutoyota, #menuterbang a.menudaihatsu, #menuterbang a.menuisuzu {padding:5px 8px;font-size:13px}
a.menudp,.dpactive,a.menudp:hover, .dpactive, .dpactive:visited  {padding:8px 20px;}
.bannerproduk {display: block!important;max-width: 100%!important;height: auto!important;}
.mantap {font-size:14px;font-weight:bold}
.menubrand {margin-right:10px;display:inline-block;width:80px;}
}
