@charset "utf-8";
/* CSS Document */
body {font-family: 'PT Sans', sans-serif;font-weight:400;}
.headertitle {font-family: 'PT Sans', sans-serif;font-size:14px;font-weight:bold;margin-bottom:20px;}
.logo {margin-bottom:10px;}
.about {line-height:17px;}
.fontbold,.line-header-blue2 {font-weight:bold;}
.fontblue {color:#0e3fa8;}
a, a:visited {color:#333;}
#footer {margin:20px 0;}
a, a:visited {color:#0e3fa8;}
a.btn:visited {color:#fff;}
#networkselect {padding:10px 0;}
.text-center {text-align:center;}
#network-map
{
	width: 700px;
	height: 332px;
	padding: 0px;
	margin: 0 auto;
	position: relative;
}
#network-map .image
{
	width: 700px;
	height: 332px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: relative;
	z-index: 20;
}

#network-map .pointer
{
	width: 18px;
	height: 18px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background: url("../img/network-pointer.png") no-repeat;
	background-position: left top;
	position: absolute;
	z-index: 25;
}
.maps-content {display:none;}